.mainContent {
  max-width: 1100px;
}
.mainContent :is(p, h1, h2, h3, h4, h5, h6) {
  padding: 1rem;
}
.mainContent code {
  line-height: 1.1rem;
  color: #ecc28f;
  width: 100%;
}
.mainContent pre {
  border-radius: 3px;
  width: 100%;
  padding: 1rem;
  background-color: #221a0f;
  width: 100%;
  margin: 0 1rem;
}
.mainContent div {
  text-align: justify;
  padding: 0.5rem;
}
.mainContent h1 {
  padding: 0.5rem;
}
.mainContent img {
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featImg {
  width: 100%;
  height: -webkit-fill;
  height: calc(100vh - 10rem);
  height: calc(calc(var(--vh, 1vh) * 100) - 10rem);
  background-size: cover;
  background-position: bottom;
}
.content {
}
